- content_for :title do
  О нас пишут

- content_for :pagetitle do
  = @writing.head

.inner-container-content
  .small_date
    = l @writing.created_at

.innerbox
  = @writing.content.html_safe
  .press_paper_link
    = link_to @writing.paper_name, @writing.paper_url if @writing.paper_name
