- content_for :pagetitle do
  Регистрация успещно завершена

.innerbox
  Теперь вам необходимо подтвердить введенный адрес эдектронной почты
  %strong
    = @user.email
    = "."
  Для этого на данный адрес отправлено письмо. Перейдите по ссылке в этом письме, после чего вы сможете войти на сайт.

