- content_for :pagetitle do
  Восстановление пароля

.innerbox.innerbox-form
  = form_tag send_password_reset_users_path do
    .form_line
      = label_tag(:username, "Введите email: ")
      = text_field_tag("username", nil, :class=>"inp")
      = submit_tag("Сбросить пароль", :class=>"")
