.one_news {
  .news_date {
    width: 125px;
  }
  .news_image {
    display: inline-block;
    padding-right: 10px;
  }
  .content {
    display: inline-block;
  }
}

.news_content {
  min-height: 300px;
  a {
    img {
      float: left;
      padding: 0 10px 10px 0;
    }
  }
}