.one_news {
  padding: 5px;
  div {
    display: inline-block;
    margin-right: 10px;
    &.news_date {
      width: 125px;
    }
  }
}

.news_content {
  min-height: 300px;
  a {
    img {
      float: left;
      padding: 0 5px 5px 0;
    }
  }
}