.profile_main{
  font-size: 18px;
  .user_avatar {
    float: left;
    margin-right: 10px;
    img {
      border: 3px solid white;
      border-radius: 3px 3px 3px 3px;
      padding: 4px;
    }
  }
  .user_profile_head {
    color: #31AA3A;
    font-weight: bold;
    padding: 10px 0;
    .login-icon {
      height: 16px;
      margin-left: 7px;
      width: 16px;
      display: inline-block;
    }
  }
}

.profile_info {
  clear: both;
  margin-top: 20px;
  .profile_line {
    padding-bottom: 2px;
    color: #505050;
  }
  .field_name {
    color: #31AA3A;
    font-weight: bold;
    padding-right: 10px;
  }
}

#form-reg-1 {
  label {
    width:220px;
    text-align: left;
    display: inline-block;
    float: none;
  }
  input { display: inline;}
  input[type=text] {
    width:240px;
  }
  textarea {
    width:800px;
    margin-top: 5px;
    height:50px;
  }
  .secure {
    display: inline;
    label {
      width: auto;
      padding-right: 20px;
    }
    input {
      position: relative;
      top:4px;
      display: inline-block;
    }
  }
  .form_line_merge {
    label {
      width:auto;
      padding-right: 20px;
    }
    span {
      padding-right: 20px;
    }
  }
}
