.footer
  .in.footer-in
    %table
      %tr
        %td
          %a{:href => "/pages/disclaimer"} Соглашение
        %td
          %a{:href => "/pages/about"} О конкурсе
        %td
          = link_to "Пресса", presses_path
        %td
          %a{:href => "/pages/partners"} Партнеры
        %td
          %a{:href => "/experts"} Совет экспертов
        %td
          %a{:href => "/writings"} О нас пишут