.separated-side
  .box.box-slider
    .box-slider-img
      = image_tag "_ex1.png"
    .box-paging
      %span.paging-back
      %span.paging-forw
    .box-slider-bookinfo
      %a{:href => "#"} Название книги
      %br/
      %a{:href => "#"} Имя автора
  .box.box-userinfo
    .box-user-head
      .box-paging
        %span.paging-back
        %span.paging-forw
      .box-user-head-prof
        .box-user-head-ava
          = image_tag "_ex1.png"
        .box-user-head-name
          Имя юзера
        .box-user-head-status
          Статус
    .box-userinfo-text
      С точки зpения банальной эpудиции каждый инди видуум, кpити чески мотивиp ующий абстp акцию,
      не может игноpи pовать кpитеpии утопи ческого субье ктивизма, концепт уально интеpп pетиpуя
      общепpи нятые дефаниз иpующие поляpизат оpы, поэтому консенсус.
      %a{:href => "#"} >>