- content_for :title do
  Необходима авторизация

- content_for :pagetitle do
  Необходима авторизация

.inner-container-content
  Для выполнения этого действия необходима авторизация. Пожалуйста, войдите на сайт.